@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@font-face {
    font-family: 'Leander';
    src: url('/fonts/Leander.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Astounding news';
    src: url('/fonts/Astounding\ news.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Leander', sans-serif;
  }
  
  .App {
    font-family: 'Leander', sans-serif; 
    text-align: center;
  }
  
  